<!DOCTYPE html>
<html>
<head>
  <title>Rails Atlas</title>

  <script
    type="text/javascript"
    src="https://unpkg.com/vis-network/standalone/umd/vis-network.min.js">
  </script>

  <link rel="stylesheet" href="/css/atlas.css">
</head>

<body>
<div id="controls" class="top-bar">
  <div class="search-section">
    <input type="text" id="search" placeholder="Find model..."/>
  </div>

  <div class="filter-section">
    <label><input type="checkbox" class="association-filter" value="belongs_to" checked> belongs_to</label>
    <label><input type="checkbox" class="association-filter" value="has_many" checked> has_many</label>
    <label><input type="checkbox" class="association-filter" value="has_one" checked> has_one</label>
    <label><input type="checkbox" class="association-filter" value="has_and_belongs_to_many" checked> habtm</label>
  </div>

  <div class="action-section">
    <label><input type="checkbox" id="toggle_edge_labels" checked> Show edge labels</label>
    <button id="show-smells">Smells</button>
  </div>
</div>
  <div id="network"></div>

  <div id="sidebar">
    <div id="drag-handle"></div>
    <div id="sidebar-content">
      <h2>Rails Atlas</h2>
      Click on a model node to see its details
    </div>
  </div>

  <script type="module" src="/atlas.js"></script>
</body>
</html>
