<!DOCTYPE html>
<html>
<head>
  <title>Rails Atlas</title>

  <script
    type="text/javascript"
    src="https://unpkg.com/vis-network/standalone/umd/vis-network.min.js">
  </script>

  <link rel="stylesheet" href="/css/atlas.css">
</head>

<body>
  <input type="text" id="search" placeholder="Find model..."/>
  <div id="network"></div>

  <div id="sidebar">
    <div id="drag-handle"></div>
    <div id="sidebar-content">
      <h2>Rails Atlas</h2>
      Click on a model node to see its details
    </div>
  </div>

  <script type="module" src="/atlas.js"></script>
</body>
</html>
